* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

/* ------------------------------------------------- Hader ------------------------------------------------ */
#grad {
  background-image: linear-gradient(to bottom, whitesmoke, grey); }

.logo {
  width: 50px;
  height: 50px; }

/* ------------------------------------------------- Footer ------------------------------------------------ */
footer {
  background-color: black; }

.fondo_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }

.fondo {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-auto-rows: minmax(150px, auto);
  gap: 40px;
  grid-auto-flow: dense;
  justify-content: center;
  background-color: black;
  border: solid 3vh black; }

.map:hover {
  transform: scale(1.1);
  transition: all 1s; }

.linkedin {
  width: 50px;
  height: 50px;
  border-radius: 20%; }

.instagram {
  width: 50px;
  height: 50px;
  border-radius: 20%; }

.logo_footer {
  width: 100px;
  height: 100px;
  border-radius: 20%; }

/* ------------------------------------------------- Index ------------------------------------------------- */
main {
  background-color: black;
  color: whitesmoke; }

.cuerpo1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 20px black; }

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 850px;
  border: solid 20px black; }

.textcentral {
  height: 20%;
  text-align: center; }

.imagecentral {
  width: 280px;
  height: 400px; }

/* ------------------------------------------------ Nosotros ----------------------------------------------- */
.main_no {
  background-color: black; }

/* Primera seccion */
.firstar {
  border: solid 2vh black;
  text-align: center; }

.title-QS {
  color: whitesmoke;
  text-align: center;
  border: solid 1vh black; }

.texto-QS {
  color: whitesmoke;
  text-align: center;
  border: solid 1vh black; }

/* Segunda seccion */
.presentacion {
  color: whitesmoke;
  text-align: center;
  border: solid 1vh black; }

.experiencia {
  color: whitesmoke;
  text-align: center;
  border: solid 1vh black; }

.main_ar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black; }

.h2ar {
  text-align: center; }

.comercial {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-image: url(../imagenes/derecho-comercial.PNG);
  background-size: 100%;
  height: 400px;
  width: 250px;
  line-height: 3; }
  .comercial ul li {
    list-style: none; }

.laboral {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-image: url(../imagenes/derecho-laboral.PNG);
  background-size: 100%;
  height: 400px;
  width: 250px;
  line-height: 3; }
  .laboral ul li {
    list-style: none; }

.civil {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-image: url(../imagenes/derecho-civil.PNG);
  background-size: 100%;
  height: 400px;
  width: 250px;
  line-height: 3; }
  .civil ul li {
    list-style: none; }

.familia {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-image: url(../imagenes/derecho-familia.PNG);
  background-size: 100%;
  height: 400px;
  width: 250px;
  line-height: 3; }
  .familia ul li {
    list-style: none; }

.main_rg {
  background-color: black;
  color: whitesmoke;
  border: solid 1vh black; }

.porque {
  text-align: center;
  border: solid 2vh black; }

.formulario {
  border-radius: 5px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px whitesmoke solid;
  border-radius: 5px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.1);
  color: whitesmoke; }

.submit {
  text-decoration: none;
  padding: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #00BCD4;
  border-radius: 20px;
  border: 2px solid #2196F3;
  transition: all 1s ease;
  -webkit-transition: all 1s ease; }

.submit:hover {
  color: #2196F3;
  background-color: #ffffff;
  cursor: pointer; }

/* ------------------------------------------------ Contacto ----------------------------------------------- */
.main_co {
  padding: 2%;
  background-color: black;
  margin: 20px black; }

.h2co {
  color: whitesmoke; }
