.main_ar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

.h2ar{
    text-align: center;
    padding-top: 10px;
}

.comercial{
    @include foto (url(../imagenes/derecho-comercial.PNG));

    & ul li{
        list-style: none;
    };
    padding-top: 10;
}

.laboral{
    @include foto (url(../imagenes/derecho-laboral.PNG));

    & ul li{
        list-style: none;
    }
}

.civil{    
    @include foto (url(../imagenes/derecho-civil.PNG));

    & ul li{
        list-style: none;
    }
}

.familia{
    @include foto (url(../imagenes/derecho-familia.PNG));

    & ul li{
        list-style: none;
    }
}