/* ------------------------------------------------ Contacto ----------------------------------------------- */

.main_co{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    margin: 20px black;
}

.h2co{
    color: whitesmoke;
}