/* .main_co{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    margin: 20px black;
} */
/* ------------------------------------------------ Contacto ----------------------------------------------- */

.main_co{
    padding: 2%;
    background-color: black;
    margin: 20px black;
}

.h2co{
    color: whitesmoke;
}