*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.submit {
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color: #00BCD4;
    border-radius: 20px;
    border: 2px solid #2196F3;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }

.submit:hover{
    color: #2196F3;
    background-color: #ffffff;
    cursor:pointer;
}

/* ------------------------------------------------- Hader ------------------------------------------------ */

#grad{
    background-image: linear-gradient(to bottom, whitesmoke, grey);
}

.logo{
    width: 50px;
    height: 50px;
}

main{
    height: 100%;
}

/* ------------------------------------------------- Footer ------------------------------------------------ */

footer{
    background-color: black;
    padding-top: 2%;
}

.map:hover{
    transform: scale(1.1);
    transition: all 1s;
}

.linkedin{
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.instagram{
    width: 100px;
    height: 100px;
    border-radius: 20%;
} 

.logo_footer{
    width: 100px;
    height: 100px;
    border-radius: 20%;
}