/* ------------------------------------------------- Index ------------------------------------------------- */

main{
    background-color: map-get($colores, "color-fondo");
    color: whitesmoke;
}

.cuerpo1{
    height: 760px;
    border: solid 20px black;
    position: relative;
}

.titlecentral{
    text-align: center;
    border: solid 20px black;
    margin-right: 50%;
}

.textcentral{
    width: 50%;
    height: 20%;
    margin-right: 50%;
    text-align: center;
    position: absolute;
} 

.imagecentral{
    width: 50%;
    height: 90%;
    margin-left: 50%;
    object-fit: contain;
    object-position: 50% 10%;
}