/* ------------------------------------------------ Nosotros ----------------------------------------------- */

.main_no{
    background-color: black;
}

/* Primera seccion */

.firstar{
    border: solid 2vh black;
    text-align: center;
}
.title-QS{
    color: whitesmoke;
    text-align: center;
    border: solid 1vh black;
}

.texto-QS{
    color: whitesmoke;
    text-align: center;
    border: solid 1vh black;
}

/* Segunda seccion */

.presentacion{
    color: whitesmoke;
    text-align: center;
    border: solid 1vh black;
}

.experiencia{
    color: whitesmoke;
    text-align: center;
    border: solid 1vh black;
}